@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');

:root {
  --primary-red: rgb(218, 0, 55);
  --primary-red-em1: rgb(116, 0, 29);
  --primary-gray: rgb(68, 68, 68);
  --primary-black: rgb(23, 23, 23);
  --primary-light: rgb(237, 237, 237);
}

body {
  background: linear-gradient(
    to right,
    var(--primary-red),
    var(--primary-black)
    );
  font-family: 'Nanum Gothic', sans-serif;
}

.btn-black {
  background-color: var(--primary-black);
  border: 2px solid var(--primary-black);
  color: var(--primary-light);
}

.btn-black:hover {
  border: 2px solid var(--primary-black);
  transition: 0.3s;
}

.btn-red {
  background-color: var(--primary-red-em1);
  border: 2px solid var(--primary-red-em1);
  color: var(--primary-light);
}

.btn-red:hover {
  border: 2px solid var(--primary-red-em1);
  transition: 0.3s;
}

.fs-label {
  font-size: 1.15rem;
}
