/* Navbar */
.main-navbar {
  background-color: var(--primary-light);
}

.main-navbar ul {
  list-style: none;
}

.link-perfil > img {
  height: 50px;
}

.link-perfil > a {
  color: var(--primary-red-em1);
  text-decoration: none;
  font-size: 1.4rem;
}

.link-perfil:hover {
  cursor: pointer;
}

#logout svg,
#home svg {
  height: 1.5rem;
  display: none;
  width: 20px;
  height: 24px;
}

#toggle-usuarios,
#close-usuarios {
  display: none;
}

#toggle-usuarios button {
  padding: 0 !important;
  height: 40px;
  width: 48px;
}

/* Crear post */
.crear-post-container {
  background-color: var(--primary-light);
  height: fit-content;
}

#contenido {
  height: 250px;
}

label {
  font-size: 1.2rem;
}

/* Feed */
.post {
  background-color: var(--primary-light);
}

/* Post */
.post-header {
  border-bottom: 1px solid var(--primary-light);
  padding-bottom: 0.5rem;
  background-color: var(--primary-red-em1);
  color: var(--primary-light);
  border: 1px solid var(--primary-light);
}

.post-img {
  height: 40px;
  object-fit: cover;
  background-color: var(--primary-light);
}

.post-time {
  font-size: 0.85rem;
}

.post-content p {
  margin-top: 0.75rem;
  margin-bottom: 0.4rem;
  font-size: 1rem;
  color: var(--primary-black);
}

.post-image {
  object-fit: cover;
  max-height: 40vh;
  border-radius: 0.5rem;
  display: block;
  margin: 0 auto;
}

.likes svg {
  stroke: var(--primary-gray);
  width: 40px;
}

.likes svg:hover,
.post-options svg:hover {
  transform: scale(1.2);
  cursor: pointer;
  stroke: var(--primary-black);
}

.post-options button {
  border-radius: 5px;
  width: 40px;
  stroke: var(--primary-red-em1);
  padding: 0;
}

.post-options svg {
  padding: 8px;
  transition: 0.3s;
}

.post-options .btn-black svg,
.post-options .btn-red svg {
  stroke: var(--primary-light);
}

.post-options .btn-black svg:hover {
  stroke: var(--primary-black);
}

.post-options .btn-red svg:hover {
  stroke: var(--primary-red-em1);
}

.custom-hr {
  border-top: 2px solid var(--primary-red-em1);
}

.custom-hr:last-of-type {
  display: none;
}

.usuarios-container {
  display: block;
  background-color: var(--primary-light);
  width: 20vw;
  min-width: 250px;
}

.usuario {
  text-decoration: none;
  color: var(--primary-red-em1);
}

.usuario:hover {
  cursor: pointer;
  background-color: var(--primary-red-em1);
  color: var(--primary-light);
  transition: 0.3s;
  font-weight: bold;
}

.usuario img {
  background-color: #fff;
  width: 10%;
}

.usuario p {
  font-size: 1.1rem;
}

/* Edit */
#img-edit {
  max-width: 90%;
  max-height: 200px;
}
