{% extends "base.html" %}
{% load static %}
{% block title %}Iniciar Sesión{% endblock title %}
{% block style %}
<link rel="stylesheet" href="{% static "css/signin.css" %}">
{% endblock style %}

{% block content %}
<main>
  <form action="/signin/" method="POST">
    {% csrf_token %}
  
    <label for="usuario">Usuario:</label>
    <input type="text" name="usuario" autofocus required id="usuario" />
  
    <label for="contra">Contraseña:</label>
    <input type="password" name="contra" required id="contra" />
  
    <button>Iniciar Sesión</button>
  </form>
</main>

{% endblock content %}
