/* Navbar */
.main-navbar {
  background-color: var(--primary-light);
}

.main-navbar > ul {
  list-style: none;
}

.link-perfil > img {
  height: 50px;
}

.link-perfil > a {
  color: var(--primary-red-em1);
  text-decoration: none;
  font-size: 1.4rem;
}

.link-perfil:hover {
  cursor: pointer;
}

#logout svg {
  height: 1.5rem;
  display: none;
  width: 30px;
}

/* Crear post */
.crear-post-container {
  background-color: var(--primary-light);
  height: fit-content;
}

#contenido {
  height: 250px;
}

label {
  font-size: 1.2rem;
}

/* Feed */
.feed {
  background-color: var(--primary-light);
}

/* Post */
.post-header {
  border-bottom: 1px solid var(--primary-light);
  padding-bottom: 0.5rem;
}

.post-img {
  height: 40px;
  object-fit: cover;
}

.post-time {
  font-size: 0.85rem;
  color: var(--primary-gray);
}

.post-content {
  margin-top: 0.75rem;
  font-size: 1rem;
  color: var(--primary-black);
}

.post-image {
  object-fit: cover;
  max-width: 100%;
  border-radius: 0.5rem;
  display: block;
  margin: 0 auto;
}

.custom-hr {
  border-top: 2px solid var(--primary-red-em1);
}

/* Usuarios */
.usuarios-container {
  background-color: var(--primary-light);
  width: 20vw;
  min-width: 250px;
  /* display: none; */
}

.usuario img {
  width: 10%;
}

.usuario p {
  font-size: 1.1rem;
}