
@media screen and (max-width: 992px) {
  .link-perfil > img,
  .post-img {
    height: 45px;
  }

  .link-perfil > a {
    font-size: 1.3rem;
  }

  /* Ajuste para el contenedor de usuarios */
  .usuarios-container {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    width: 80%;
    max-width: 300px;
    height: 100%;
    background-color: var(--primary-light);
    z-index: 1000;
    transform: translateX(100%);
    transition: transform 0.3s ease;
  }

  .usuarios-container.active {
    display: block; /* Asegúrate de que se muestre */
    transform: translateX(0);
  }

  #toggle-usuarios,
  #close-usuarios {
    display: block;
  }
}

@media screen and (max-width: 767px) {
  .link-perfil > img,
  .post-img {
    height: 40px;
  }

  .link-perfil > a {
    font-size: 1.2rem;
  }
  
  label,
  .post-header h5,
  input,
  #contenido,
  #editContent {
    font-size: 1rem;
  }

  .crear-post-container {
    padding: 10px !important;
  }

  .post-time {
    font-size: 0.80rem;
  }

  .usuario p {
    font-size: .8rem;
  }

  #contenido {
    height: 150px;
  }

  .post-image {
    max-height: 26vh;
  }
}

@media screen and (max-width: 576px) {
  .main-navbar > ul {
    padding: 8px 12px !important;
  }

  .body-container {
    padding: 10px !important;
    gap: 10px !important;
  }

  #logout p,
  #home p {
    display: none;
  }

  #logout svg,
  #home svg {
    display: block;
  }

  .link-perfil > img,
  .post-img {
    height: 30px;
  }

  .link-perfil > a {
    font-size: 1rem;
  }

  label,
  .post-header h5,
  input,
  #contenido,
  #editContent {
    font-size: .9rem;
  }

  .post-time {
    font-size: 0.75rem;
  }

  .crear-post-container {
    padding-bottom: 0 !important;
  }

  .post-lower {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
  }

  .post-lower div:last-of-type {
    width: 25%;
    margin-top: 13px;
  }

  .post-lower button {
    padding: 6px;
  }

  #contenido {
    height: 100px;
  }
}